{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>HamiltonEV</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'telemetria/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href="{% static 'telemetria/assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{% static 'telemetria/assets/css/templatemo-scholar.css' %}">
    <link rel="stylesheet" href="{% static 'telemetria/assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'telemetria/assets/css/animate.css' %}">
    <link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/chart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <!-- <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div> -->
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <img src="{% static 'telemetria/assets/images/logo.png' %}" style="position:relative; left:-370px; width: 350px; height: 70px;">
                    <a href="{% url 'home' %}" class="logo">
                        <h1>HamiltonEV</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Serach Start ***** -->
                    <!-- <div class="search-input">
                      <form id="search" action="#">
                        <input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
                        <i class="fa fa-search"></i>
                      </form>
                    </div> -->
                    <!-- ***** Serach Start ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                      <li class="scroll-to-section"><a href="#services">Qualities</a></li>
                      <li class="scroll-to-section"><a href="#team">Team</a></li>
                      <li class="scroll-to-section"><a href="#events">Events</a></li>
                      {% if not user.is_authenticated %}
                        <li class="scroll-to-section"><a href="/admin">Login</a></li>
                      {% else %}
                        <li class="scroll-to-section" onclick="start('cerrar')"><a href="{% url 'logout' %}">Log out</a></li>
                      {% endif %}

                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            <div class="item item-1">
              <div class="header-text">
                <!-- <span class="category">Our Courses</span> -->
                <h2>What is HamiltonEV?</h2>
                <p style="text-align: justify;">Our team, comprised of mechanical engineering students, is responsible for designing a car to participate in the Shell Eco-Marathon. We work on creating a highly energy-efficient vehicle, with the goal of achieving the maximum distance traveled using the least amount of fuel. Our tasks span from engineering and aerodynamics to component optimization, all contributing to the sustainable future of mobility.</p>
                <div class="buttons">
                  <div class="main-button">
                    <a href="#">Galery</a>
                  </div>
                  <!-- <div class="icon-button">
                    <a href="#"><i class="fa fa-play"></i> What's Scholar?</a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="item item-2">
              <div class="header-text">
                <!-- <span class="category">Best Result</span> -->
                <h2>Shell Eco-marathon</h2>
                <p style="text-align: justify;">The Shell Eco-Marathon is a global competition that invites student teams to design, build, and race vehicles aiming to achieve the highest possible energy efficiency. Participants strive to cover the longest distance using the least amount of energy, promoting innovation in eco-friendly transportation solutions and fostering a commitment to sustainable mobility.</p>
                <div class="buttons">
                  <div class="main-button">
                    <a href="https://www.shellecomarathon.com">Take a look</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="{% static 'telemetria/assets/images/service-01.png' %}" alt="online degrees">
            </div>
            <div class="main-content">
              <h4>Innovative Creativity</h4>
              <p style="text-align: justify;">Our team excels in generating fresh ideas, driving projects with unique perspectives and solutions.</p>
              <!-- <div class="main-button">
                <a href="#">Read More</a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="{% static 'telemetria/assets/images/service-02.png' %}" alt="short courses">
            </div>
            <div class="main-content">
              <h4>Dedication</h4>
              <p style="text-align: justify;">We commit to excellence, relentlessly pursuing high-quality outcomes with a strong sense of responsibility.</p>
              <!-- <div class="main-button">
                <a href="#">Read More</a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="{% static 'telemetria/assets/images/service-03.png' %}" alt="web experts">
            </div>
            <div class="main-content">
              <h4>Teamwork</h4>
              <p style="text-align: justify;">Collaboration fuels our diverse skills, working seamlessly toward common goals in a supportive environment.</p>
              <!-- <div class="main-button">
                <a href="#">Read More</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 style="position:relative; left:400px;">Our team</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="team section" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/1-test.png' %}" alt="">
                <span class="category">Web Development</span>
                <h4>Felipe Aponte Cardenas</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="https://github.com/Tekom"><i class="fab fa-github"></i></a></li>
                  <li><a href="https://www.linkedin.com/in/felipe-aponte-cardenas-801666219/"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/2-test.jpg' %}" alt="">
                <span class="category">Control Designer</span>
                <h4>Stephanie Achury</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/3-test.png' %}" alt="">
                <span class="category">Control Designer</span>
                <h4>Daniel Paz</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/4-test.jpg' %}" alt="">
                <span class="category">Mechanical Designer</span>
                <h4>Diego Merchan</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="team section" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/5-test.jpg' %}" alt="">
                <span class="category">Mechanical Desginer</span>
                <h4>Maria Camila Castillo Tacha</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/6-test.jpg' %}" alt="">
                <span class="category">Control Designer</span>
                <h4>Paula Lopez</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/7-test.jpg' %}" alt="">
                <span class="category">Control Designer</span>
                <h4>Yashir Camilo Garcia Osorio</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/8-test.png' %}" alt="">
                <span class="category">Electronics Designer</span>
                <h4>Elian Otalora</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="team section" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/9-test.png' %}" alt="">
                <span class="category">Mechanical Designer / PM</span>
                <h4>Raquel Sofia Salazar</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/10-test.png' %}" alt="">
                <span class="category">TI Designer</span>
                <h4>Miguel Benavides</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/11-test.jpg' %}" alt="">
                <span class="category">Electronicals Designer</span>
                <h4>Luis Castillo</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/12-test.png' %}" alt="">
                <span class="category">TI Designer</span>
                <h4>Steven Penagos</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    <div class="team section" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/13-test.png' %}" alt="">
                <span class="category">Mechanical Designer</span>
                <h4>Mario Daniel Medina Toledo</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/14-test.png' %}" alt="">
                <span class="category">Electronics Designer</span>
                <h4>Santiago Sandoval</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-member">
              <div class="main-content">
                <img src="{% static 'telemetria/fotos/15-test.png' %}" alt="">
                <span class="category">Teacher</span>
                <h4>Juan Camilo Hernandez</h4>
                <ul class="social-icons">
                  <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

  <!-- <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            <div class="item">
              <p>“Please tell your friends or collegues about TemplateMo website. Anyone can access the website to download free templates. Thank you for visiting.”</p>
              <div class="author">
                <img src="{% static 'telemetria/assets/images/testimonial-author.jpg' %}" alt="">
                <span class="category">Full Stack Master</span>
                <h4>Claude David</h4>
              </div>
            </div>
            <div class="item">
              <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravid.”</p>
              <div class="author">
                <img src="{% static 'telemetria/assets/images/testimonial-author.jpg' %}" alt="">
                <span class="category">UI Expert</span>
                <h4>Thomas Jefferson</h4>
              </div>
            </div>
            <div class="item">
              <p>“Scholar is free website template provided by TemplateMo for educational related websites. This CSS layout is based on Bootstrap v5.3.0 framework.”</p>
              <div class="author">
                <img src="{% static 'telemetria/assets/images/testimonial-author.jpg' %}" alt="">
                <span class="category">Digital Animator</span>
                <h4>Stella Blair</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
            <p>You can search free CSS templates on Google using different keywords such as templatemo portfolio, templatemo gallery, templatemo blue color, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  
  <div style="display:flex; justify-content: center; align-items: center;">
    <h1 style="position:relative; top:80px; left:60px">Galery</h1>
  </div>
  <div class="main-banner2" id="top">
    <div class="container">
      <div >
        <div>
          <div class="owl-carousel owl-banner">
            {% for i in n %}
              <div class="item foto{{i}}">
                <div class="header-text">
                  <h2><br><br><br><br><br></h2>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if user.is_authenticated %}
  <section class="section courses">
    
    <div style="display:flex; justify-content: center; align-items: center;">
      <h2 style="position:relative; top:-50px;">Telemetry</h2>
    </div>
    <div class="main-button" style="display:flex; justify-content: center; align-items: center;">
      <button class="dropbtn" id="startButton" onclick="start('iniciar')" style = "position:relative; left:20px; top: -20px;">Start connection</button> 
      <button class="dropbtn" id="startButton" onclick="start('cerrar')" style = "position:relative; left:35px; top: -20px;">Close connection</button> 

      <div class="dropdown">
        <button class="dropbtn">Download CSV</button>
        <div class="dropdown-content">
          <a href="{% url 'download_file' 'engine_velocity.csv' %}">Engine velocity</a>
          <a href="{% url 'download_file' 'current.csv' %}">Engine current</a>
          <a href="{% url 'download_file' 'car_velocity.csv' %}">Car velocity</a>
          <a href="{% url 'download_file' 'voltage.csv' %}">Engine voltage</a>
          <a href="{% url 'download_file' 'pwm.csv' %}">PWM</a>
          <div class="sub-dropdown">
            <a href="#">IMU</a>
            <div class="sub-sub-dropdown">
              <a href="{% url 'download_file' 'imu_x.csv' %}">Pitch [X]</a>
              <a href="{% url 'download_file' 'imu_y.csv' %}">Roll [Y]</a>
              <a href="{% url 'download_file' 'imu_z.csv' %}">Yaw [Z]</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div style="width: 50%; float:left">
      <div>
        <canvas id="myChart" height="500"></canvas>
      </div>
  
      <div>
        <canvas id="velocity" height="500"></canvas>
      </div>
  
      <div>
        <canvas id="voltage" height="500"></canvas>
      </div>
    </div>

    <div style="width: 50%; float:right">
      <div>
        <canvas id="current" height="500"></canvas>
      </div>
  
      <div>
        <canvas id="imu" height="500"></canvas>
      </div>
  
      <div>
        <canvas id="pwm" height="500"></canvas>
      </div>
    </div>
  </section>

  <script src="{% static 'telemetria/assets/js/graph.js' %}"></script>
{% endif %}

{% if not user.is_authenticated %}
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2023 HamiltonEV. All rights reserved.</p>
      </div>
    </div>
  </footer>
{% endif %}

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'telemetria/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'telemetria/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'telemetria/assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'telemetria/assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'telemetria/assets/js/counter.js' %}"></script>
  <script src="{% static 'telemetria/assets/js/custom.js' %}"></script>

  </body>
</html>